body{
background-color:rgb(100,100,400,0.5);
}


ul {
  list-style-type: none;
  
}

li {
  margin:auto;
  float: left;
  width:200px;
 
}



.nav-link {
   display: block;

  padding: 8px  10px;
  text-align:center;
  background-color: black;
  color:white;
  text-decoration:none;
}
.nav-link:hover,#submit:hover{
   background-color: rgb(0,0,100,0.5);
  color:white;
}
#form{
  text-align:center;
 
}
#submit{
  border:none;
  background-color:black;
  color:white;
  width:150px;
  height:40px;
}
.three{
  width:40em;
  margin:auto;
}
#video{
 display:block;
  margin:auto;
}
div.flex-container{
  display:flex;
  justify-content:center;
}
div.products{
  text-align:center;
  background-color:gray;
  margin:20px;
}
.products:hover{
   background-color: rgb(0,0,100,0.5);
  color:white;
}
.five{ 
     padding:10px;
     background-color:rgb(0,20,180,0.5)
}
@media screen and (max-width:600px){
  .flex-container{
    flex-direction:column;
    }
  .nav-link{
    width:100%;
    margin:auto;
  }
  .three{
    width:200px;
  }
  
}
header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.classy{
  padding:80px;
}